#map {
    width: 600px;
    height: 600px;
    margin: 5px;
    float: left;
}

.button {
    padding: 0.5em 1em;
    margin: 5px;
    text-decoration: none;
    background: #f1b46e;/*ボタン色*/
    color: #FFF;
    border-radius: 3px;
    float: left;
}