<!DOCTYPE html>
<html ng-app = 'App'>
    <head>
        <meta charset="utf-8">
        <title>CafeMap</title>
        <script src="./lib/d3.js" charset="utf-8"></script>

        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
        
    
        <link rel="stylesheet" type="text/css" href="cafemap.css">
    </head>
 

<body>
    <div id="header">
        <a href="#" class="button" id="rating">Rating</a>
        <a href="#" class="button" id="budget">Budget</a>
    </div>
    <div id="main">
        <div id="left-header">
            <a href="#" class="button" id="open">Open<br>Day</a>
            <a href="#" class="button" id="congestion">Congestion<br>Degree</a>
            <div ng-controller="AppCtrl" ng-cloak>
                <md-content layout="row" layout-padding>
                    <md-slider-container flex>
                        <md-input-container>
                            <input flex type="number" ng-model="open" aria-label="open-day" aria-controls="slider">
                        </md-input-container>
                        <md-slider ng-model="open" min="0" max="100" aria-label="open-day" id="slider" md-vertical md-range></md-slider>
                    </md-slider-container>
                </md-content>
            </div>
        </div> 
        <div id="map"></div>
    </div>

    <script type="text/javascript" src="controller.js" ></script>
    
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC1Tkn2no27id0ILNHD1glfyBI2elzAmI&callback=initMap&libraries=drawing,visualization" defer></script>

    <script>
        var app = angular.module('App', ["ngMaterial", "ngAnimate"])
        .controller("AppCtrl", function($scope){
        $scope.open = 0;
        });
        
        d3.select("#rating")
            .on("click", function(d){
                markerArray.forEach(function(marker){
                    marker.setMap(null);
                })
                for (var i=0; i<cafedata.length; i++){
                    setMarker(cafedata[i],"Rank")
                }
            })

        d3.select("#budget")
            .on("click", function(d){
                markerArray.forEach(function(marker){
                    marker.setMap(null);
                })
                for (var i=0; i<cafedata.length; i++){
                    setMarker(cafedata[i],"Lunch_Budget")
                }
            })
    </script>

</body></html>