#header {
    display: flex;
    height: 150px;
    background-color: #f1b46e;
}


#main {
    display: flex;
}

#left-header {
    height: 600px;
    background-color: #f1b46e;
    width: 300px;
}

#map {
    width: calc(100% - 300px);
    height: 600px;
    margin: 5px;
}



#rating, #budget {
    width: 100px;
    height: 100px;
}

#open, #congestion {
    width: 100px;
    height: 100px;
    display: block;
    float: left;
}

#open-slider {
    display: block;
    width: 100px;
    
    float: left;
}

#open-content, #congestion-content {
    float: left;
    width: 100px;
    height: 600px;
}